.datetime{
  color: #000;
  font-family: "Segoe UI", sans-serif;
  transition: 0.5s;
  margin-top: 23px;
  margin-left: 12px;
}

.date{
  font-size: 18px;
  font-weight: bold;
}

.time{
  font-size: 18px;
  display: flex;
  align-items: center;
  font-weight: bold;
}

.time span:not(:last-child){
  position: relative;
  text-align: center;
}

.time span:last-child{
  text-transform: uppercase;
  padding: 0 5px;
}